:root {
  --main-list-color: rgb(255, 144, 125);
  --canDrop: rgb(241, 255, 51);
  --isOver: rgb(0, 255, 64);
}

#root {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 2fr 1fr;
  margin: 1rem;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  position: relative;
  background: white;
  border: 3px solid var(--main-list-color);
  color: var(--main-list-color);
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 200ms;
  transition-property: background-color, color, border; 
}

li:hover {
  color: white;
  background: var(--main-list-color);
  border: 3px solid var(--main-list-color);
}

button {
  background: var(--main-list-color);
  border: none;
  padding: 1rem;
  color: white;
  border: 3px solid white;
  border-radius: 5px;
}

button:hover {
  background: white;
  color: var(--main-list-color);
  border: 3px solid var(--main-list-color);
}




