:root {
  --peach: rgb(255, 144, 125);
}

#root {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 2fr 1fr;
  margin: 1rem;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  position: relative;
  background: white;
  border: 3px solid var(--peach);
  color: var(--peach);
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 200ms;
  transition-property: background-color, color, border; 
}

li:hover {
  color: white;
  background: var(--peach);
  border: 3px solid var(--peach);
}




