.calendar {
    display: grid;
    grid-template-columns: auto 1fr;
    height: 100vh;
    /* border: 1px solid red; */
  }

  /* Goal: Have left hand side cover hours from 6:00am - 12:00pm in 30 minute blocks */
  /* Plan: Left side of grid is a bunch of divs with hours and lines */
  /* Right side of grid is the list items  */

  .calendar__times {
    display: grid;
    grid-template-rows: repeat(13, 1fr);
    height: 100%;
    align-items: center;
  }

  .calendar__times > div {
    padding: 1.5rem;
    /* border: 1px solid var(--peach); */
  }
 
  .calendar__list {
    width: auto;
    display: grid;
    grid-template-rows: repeat(13, 1fr);
    height: 100%;
    margin: 0;
    margin-top: 3rem;
    align-items: center;
    grid-gap: 7px;
  }

  .calendar__list > li {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr auto auto;
    grid-gap: 15px;
    padding: 0 1rem;
    max-width: 40%;
    height: 100%;
  }

  .calendar__dropZone {
    height: 100%;
  }

