:root {
  --peach: rgb(255, 144, 125);
}

#root {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 1rem;
}

.calendar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid red;
}

.target {
  width: 50%;
  height: 100%;
  border: 1px solid red;
}

input {
  width: 100%;
  border: 0;
  box-shadow: 0 0 5px rgb(0, 0, 0, 0.25);
  padding: 1rem;
  margin-bottom: 0.5rem;
}

form {
  display: grid;
  grid-template-columns: 1fr auto;
}


ul {
  list-style: none;
  padding-left: 0;
}

li {
  margin-bottom: 1rem;
  position: relative;
  color: white;
  background: var(--peach);
  padding: 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.15s;
}

li:hover {
  transform: scale(1.1);
}

.fa-trash {
  position: absolute;
  right: 25px;
  font-size: 1.5rem;
  cursor: pointer;
}

.fa-trash:hover {
  transition: transform 50ms;
  transform: scale(1.2);
}



